########################
# Import bazelrc presets
import %workspace%/tools/preset.bazelrc

common --config=ruleset
common --lockfile_mode=error
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
test --test_output=errors

try-import %workspace%/.bazelrc.user
