#################################
# Configuration for 'git archive'
# See https://git-scm.com/docs/git-archive#ATTRIBUTES

# Occasionally there's a need to "stamp" the release version into a file
# See https://blog.aspect.build/releasing-bazel-rulesets-rust for details if you need this.
# private/version.bzl export-subst
